html{
    scroll-behavior: smooth;
}

Header{

    color:navy;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px inset ;
    
}

nav ul{
 text-align: center;
 
}
nav a{
    color:navy;
    padding: 20px;

}
body{
margin: 0;
color:navy;
}
#logo{
    height: 70px;
}
nav ul a{
    text-decoration: none;
}
#pres{
    height: 700px;
    text-align: center;
    border-radius: 20px;   
}
table{
    padding-left: 100px;
    text-align: center;
    border: 1px solid;
    background-color: rgb(23, 47, 117);
    color: white;
    border-radius: 15px;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
#seniorhigh{
    text-align: justify;
    border: 1px solid;
    background-color: rgb(23, 47, 117);
    color: white;
    margin-left: 5px;
    border-radius: 15px;
    
}

