html{
    scroll-behavior: smooth;
}
Header{

    color:navy;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px inset ;   
}
main{
    margin: 25px;
}
.navbar{
    background-color: navy;
}
.nav-brand{
    color: navy;
    font-weight: bold;
    font-family: Arial;
}
.nav-toggler-icon{
    background-color: white;
}
.navbar-nav .nav-link{
    color: navy;
    font-weight: bold;
    font-family: Arial;
}
.nav a:hover{
    background-color: goldenrod;
}
@media (max-width: 700px){
    .navbar-nav{
        text-align: center;
        margin-top: 10px;
    }
    .nabar-nav .nav-item{
        display:block;
    }
.image-container{
    text-align: center;
}
.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
}
.center-content img{
    max-width: 100%;
    height: auto;
    width: 100vh;
    margin-left: 250px;
    
}
body{
margin: 0;
color:navy;
font-family: Arial;
}
#logo{
    height: 70px;
}
pre{
    font-family: arial;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
#seniorhigh {
    text-align: justify;
    color: white;
    border: 1px solid;
    background-color: navy;
    padding: 15px;
}
#seniorhigh h3 {
    text-align: center;
}
#s{
    padding-left: 400px;
}
#contact{
    text-align: center;
}
